@import url('./bulma.min.css');
@import url('./main.css');
@import url('./responsive.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
a {
    transition: 300ms all;
    color: #0f4d90;                                                             
    text-decoration: underline;
}
